<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Editor</title>
    <style type="text/css" media="screen">
        body {
            overflow: hidden;
        }

        #editor {
            margin: 0;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        .bn{z-index: 9999;
            float: right;
            margin-right: 50px;
            position: relative;
            background-color: white;
        }
    </style>
</head>
<body>
<div class="bn">
<buton onclick="save()">保存</buton>
</div>
<pre id="editor">
{{.data}}
</pre>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.16.0/ace.min.js" type="text/javascript" charset="utf-8"></script>
<script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.2.1/jquery.min.js"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    var moData = editor.getValue();
    var curPath = "{{.path}}";
    var extension = curPath.split(".").pop();
    var types = {
        "html": "html",
        "tmpl": "html",
        "htm": "html",
        "xml": "xml",
        "xhtml": "xml",
        "svg": "svg",
        "css": "css",
        "scss": "scss",
        "sass": "sass",
        "less": "less",
        "js": "javascript",
        "ts": "typescript",
        "jsx": "jsx",
        "tsx": "tsx",
        "coffee": "coffee",
        "json": "json",
        "md": "markdown",
        "markdown": "markdown",
        "txt": "text",
        "bat": "batchfile",
        "sh": "sh",
        "bash": "sh",
        "ps1": "powershell",
        "psm1": "powershell",
        "psd1": "powershell",
        "go": "golang",
        "java": "java",
        "c": "c_cpp",
        "cpp": "c_cpp",
        "cxx": "c_cpp",
        "cc": "c_cpp",
        "h": "c_cpp",
        "hpp": "c_cpp",
        "hxx": "c_cpp",
        "hh": "c_cpp",
        "php": "php",
        "py": "python",
        "rb": "ruby",
        "swift": "swift",
        "vb": "vbscript",
        "vbs": "vbscript",
        "sql": "sql",
        "yaml": "yaml",
        "yml": "yaml",
        "ini": "ini",
        "conf": "ini",
        "cfg": "ini",
        "log": "log",
        "bat": "batchfile",
        "cmd": "batchfile",
        "asp": "asp",
        "aspx": "asp",
        "jsp": "jsp",
        "ejs": "ejs",
        "pug": "jade",
        "jade": "jade"
    };
    if (types.hasOwnProperty(extension)) {
        var ext = types[extension];
        editor.session.setMode("ace/mode/"+ext);
    }else{
        editor.session.setMode("ace/mode/text");
    }
    document.addEventListener('keydown', function(event) {
        const userAgent = navigator.userAgent;
        if ((userAgent.indexOf('Mac') !== -1 ? event.metaKey : event.ctrlKey) && event.key === 's') {
            event.preventDefault(); // 阻止浏览器默认行为
            save(); // 调用 save 函数
        }
    });
    window.addEventListener('beforeunload', function(event) {
        if (editor.getValue() !== moData) {
            event.preventDefault(); // 阻止浏览器默认行为
            event.returnValue = ''; // 必须设置此属性才能弹出提示框
            if (!confirm('您的修改尚未保存。')) {
                // 如果用户不确定，则停留在当前页面
                return;
            }
        }
    });
    function save(index){
        // console.log(editor.getValue())
        if (confirm("确认保存吗？")){
            $.post("/do/save",{path:curPath,data:editor.getValue()},function(data, status){
                if(status == "success"){
                    if(data.stat){
                    moData = editor.getValue(); // 更新moData
                        if(confirm("保存，点击确认刷新")){
                            var temp = document.createElement("form"); //创建form表单
                            temp.action = "/edite";
                            temp.method = "post";
                            temp.style.display = "none";//表单样式为隐藏
                            var opt =document.createElement("input");  //添加input标签
                            opt.type="text";   //类型为text
                            opt.name = "path";    //设置name属性
                            opt.value = '{{.path}}';   //设置value属性
                            temp.appendChild(opt);
                            document.body.appendChild(temp);
                            temp.submit();
                            return temp;
                        }}else{
                        alert("保存失败")
                    }
                }else{
                    alert("请求失败");
                }
            });
        }
    }
</script>

</body>
</html>