{{define "public/header"}}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>goFile</title>
    <style>
        .f-r{float: right;margin-left: 10px}
        .c-b{clear: both}
        body{max-width: 960px;margin:20px}
        a:visited {color:#0000ee;}
        a{text-decoration:none}
        li:hover{background-color: rgb(244, 244, 244);}
        @media (prefers-color-scheme: dark) {
            body{
                background-color: #333333;
                color:rgb(226, 226, 226);
            }
            a:visited,a{color:rgb(218, 218, 218)}
            li:hover{background-color:rgb(96, 96, 96)}
        }
    </style>
</head>
{{end}}