<!DOCTYPE html>
<html lang="en">
{{template "public/header" .}}
<body>
<div class="wrap">
  <div class="hd">
    <a class="logo" href="/">goFile</a>
  </div>
  <div class="msg-wrap">
    <div class="msg-box">
      <p class="msg-text">{{.msg}}</p>
      <a class="msg-link" href="{{.url}}">{{.title}}</a>
    </div>
  </div>
</div>
</body>
</html>
