{{define "public/header"}}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>goFile</title>
    <style>
        .f-r{float: right;margin-left: 10px}
        .c-b{clear: both}
        body{max-width: 960px;margin:20px}
        a:visited {color:#0000ee;}
        a{text-decoration:none}
    </style>
</head>
{{end}}